<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Lobster+Two:700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Diana Frank Development</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<link rel="stylesheet" type="text/css" href="/assets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/effect1.css" />
	<script src="/assets/modernizr.custom.js"></script>

</head>
	<body class="demo-1">
		<div id="ip-container" class="ip-container">
			<header class="ip-header">
				<h1 class="ip-logo">
					<div class = "svg-logo">
						<!-- SVG  ANIMATION -->
						<?xml version="1.0" standalone="no"?>
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
						 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
					 	width="857.000000pt" height="562.000000pt" viewBox="0 0 350.000000 562.000000"
					 	preserveAspectRatio="xMidYMid meet">

						<g transform="translate(0.000000,562.000000) scale(0.100000,-0.100000)"
						fill="#000000" stroke="none">
						<path id="circle"d="M1590 4564 c-218 -28 -419 -87 -595 -175 -166 -83 -289 -173 -430
						-314 -237 -237 -372 -481 -452 -815 -35 -145 -44 -467 -18 -622 96 -575 490
						-1066 1025 -1278 888 -353 1882 108 2193 1015 65 189 82 303 81 535 0 230 -15
						324 -80 520 -192 576 -694 1008 -1287 1110 -109 18 -367 32 -437 24z m377 -55
						c511 -69 967 -394 1207 -860 337 -651 205 -1421 -329 -1927 -340 -322 -820
						-483 -1280 -432 -712 80 -1291 616 -1421 1315 -28 150 -26 481 4 621 45 209
						129 406 249 589 91 137 292 338 428 427 218 144 425 226 660 263 100 16 378
						18 482 4z"/>
						<path id="title"d="M1644 3375 c-179 -39 -304 -171 -304 -321 0 -90 47 -144 125 -144 23
						0 25 3 18 28 -12 40 -7 174 7 216 16 51 54 93 96 106 19 7 38 10 41 7 2 -3
						-38 -200 -90 -437 -66 -304 -90 -433 -82 -436 6 -3 51 -4 100 -2 l89 3 38 175
						c21 96 45 208 54 248 l15 72 98 0 97 0 10 50 c6 28 8 52 6 55 -3 3 -45 5 -94
						5 -103 0 -97 -12 -65 135 26 114 10 104 147 91 66 -6 79 -5 108 14 33 21 89
						120 78 139 -3 5 -28 4 -58 -1 -35 -7 -88 -6 -158 1 -132 14 -199 13 -276 -4z"/>
						<path id="title" d="M752 3360 c-144 -39 -261 -124 -308 -225 -51 -108 -19 -198 76 -215
						25 -5 46 -7 48 -5 1 1 -3 23 -9 47 -16 57 6 156 47 217 56 85 173 136 300 129
						81 -4 115 -21 147 -76 61 -103 34 -391 -53 -567 -35 -72 -91 -131 -132 -140
						-38 -9 -98 2 -98 18 0 7 34 168 76 360 43 191 75 349 72 352 -3 3 -48 0 -101
						-6 -73 -9 -98 -16 -101 -28 -10 -33 -176 -786 -176 -798 0 -10 25 -13 100 -13
						93 0 100 1 100 20 0 26 8 25 65 -6 128 -72 281 7 379 196 71 137 102 276 93
						420 -9 151 -64 248 -172 301 -61 30 -76 33 -173 36 -83 2 -123 -1 -180 -17z"/>
						<path id="title"d="M2454 3366 c-194 -45 -347 -186 -348 -323 -1 -69 25 -104 89 -120 55
						-14 69 -10 55 17 -5 10 -10 43 -10 73 0 159 121 283 289 295 93 6 135 -3 176
						-39 64 -57 82 -196 49 -384 -38 -219 -132 -365 -235 -365 -77 0 -77 -14 11
						380 43 195 77 356 75 358 -2 2 -48 -2 -103 -9 l-99 -12 -88 -396 c-49 -218
						-90 -404 -93 -413 -4 -16 5 -18 97 -18 98 0 101 1 107 24 l6 24 34 -23 c47
						-32 114 -45 167 -33 155 35 300 266 327 519 22 218 -53 382 -198 434 -64 23
						-229 29 -308 11z"/>
						  </g>
						</svg>
						</div>
				</h1>
				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>
		



			<!-- main content -->
<div class="ip-main">
<nav class ="main-nav">
	<ul id="menu">
		<li id="menu" data-menuanchor="mainpage"><a href="#home">HOME</a></li>
		<li id="menu" data-menuanchor="firstPage"><a href="#about">ABOUT</a></li>
		<li id="menu" data-menuanchor="secondPage"><a href="#projects">PROJECTS</a></li>
		<li  id="menu" data-menuanchor="3rdPage"><a href="#contact">CONTACT</a></li>
		<span class = "stretch"></span>
	</ul>
</nav>

<div id ="fullpage">
	<div class="section" id="home">

	<a name ="home">

		<h1 class ="site-title"> Diana Frank </h1>
			<?xml version="1.0" standalone="no"?>
			<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
			 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
			 width="640.000000pt" height="200.000000pt" viewBox="0 0 500.000000 200.000000"
			 preserveAspectRatio="xMidYMid meet">
			<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"
			fill="#000000" stroke="none">
			<path id="computer" d="M1591 3820 c-46 -11 -82 -40 -104 -81 -16 -31 -17 -76 -15 -604 l3
			-570 22 -31 c48 -67 -8 -64 1025 -64 889 0 935 1 968 19 19 10 44 30 55 45 19
			27 20 42 23 605 l2 577 -22 34 c-13 19 -39 43 -58 54 -35 21 -46 21 -950 23
			-503 0 -930 -2 -949 -7z m1896 -22 c17 -10 41 -33 52 -52 21 -34 21 -38 19
			-609 l-3 -575 -25 -27 c-54 -58 0 -55 -1012 -55 -913 0 -934 0 -966 20 -18 11
			-41 34 -52 52 -19 32 -20 52 -20 591 0 490 2 563 16 592 18 40 55 66 104 76
			19 4 445 6 945 6 841 -2 912 -3 942 -19z"/>
			<path id="computer" d="M1627 3673 c-4 -3 -7 -192 -7 -420 l0 -413 900 0 900 0 0 420 0 420
			-893 0 c-492 0 -897 -3 -900 -7z m1781 -415 l2 -408 -890 0 -890 0 0 403 c0
			222 3 407 7 410 3 4 403 6 887 5 l881 -3 3 -407z"/>
			<path id="computer" d="M2455 2715 c-73 -72 28 -178 109 -114 55 43 18 139 -54 139 -19 0
			-40 -9 -55 -25z m105 -5 c43 -43 11 -120 -48 -120 -66 0 -96 79 -46 119 34 26
			68 27 94 1z"/>
			<path id="computer" d="M2400 2201 c0 -67 11 -60 -120 -81 -115 -19 -110 -16 -110 -60 l0
			-40 350 0 350 0 0 39 0 39 -67 12 c-38 6 -89 16 -115 22 l-48 10 0 59 0 59
			-120 0 -120 0 0 -59z m230 -10 l0 -58 88 -17 c48 -9 99 -19 115 -22 22 -5 27
			-11 27 -35 l0 -29 -341 0 -340 0 3 32 c3 29 7 33 43 39 22 4 73 12 113 19 l72
			12 0 59 0 59 110 0 110 0 0 -59z"/>
			</g>
			</svg>

		<h1 class ="site-title" id="development"> Development </h1>
		<div class="arrow bounce">
	</a>


</div>
	</div>

	<div class="section" id="about" data-anchor='firstPage'> 
	<a name ='about'>
	<div class="aboutme">
		<div class="about title">
			<h2> About me</h2>
			<img id="self-portrait" src ='/assets/me3.jpg'>
			<p class="about-info"> I am a graduate of General Assembly's three month Web Development Immersive. Tulane University Graduate, with a B.S. in Psychology, and Gender Studies. Junior Developer. Traveler. Amature Videographer. Francophone. New Yorker. Nerd.</p>
			</div>

			<div id="canvas-holder">
				<h2> Skills </h2>
				<p class="skills-info"> Hover over to see some of my skills...</p>
				<canvas id="skills" width="300" height="300"></canvas>
			</div>
		</div>
	</a>
	</div>


<div class="section" id="projects" data-anchor='secondPage'>
<a name ='projects'>
		<div class="title">

		<div class = "slide 1" data-anchor="slide1">
		<div class ="projects">
			<h1>Projects</h1>
				<h2> View Some Of My Previous Work </h2>
			</div>
			</div>

<div class = "slide 2" data-anchor="slide2">
			<div class ="project1">
			<h3> Attendance Management </h3>
			<p> An attendance tracking app built for General Assembly </p>
			<a href="https://murmuring-fortress-68555.herokuapp.com/"><img class="project"src ="/assets/attendance.png"></a>
			</div>
			</div>

		<div class = "slide 3" data-anchor="slide3" >
		<div class ="project2">
				<h2> Simon Says</h2>
				<p> An interactive single page game </p>
				<img class="project"src= "/assets/simonpicture.png">
				
				
			</div>
			</div>
		</div>
</a>
</div>


<div class="section" id="contact" data-anchor='3rdPage'>
<a name ='contact'>
	<div class="title">
		<h1>Contact</h1>

		<div class = "contact-logo">
			<a href="https://github.com/dianafrank22"><img class="github" src ="/assets/github.png"></a>
			<a href="https://www.linkedin.com/in/dianafrank"><img class="linkedin" src="/assets/linkedin.png"></a>
		</div>
	</div>
</a>
</div>





</div>			
</div>
</div><!-- /container -->


<script src="/assets/classie.js"></script>
<script src="/assets/pathLoader.js"></script>
<script src="/assets/main.js"></script>



<!-- parallax scrolling script -->
  <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                menu: '#menu',
                anchors: ['firstPage', 'secondPage', '3rdPage'],
                autoScrolling: true
            });
        });
    </script>

<script src="/assets/Chart.js"></script>
<script src='/assets/Chart.min.js'></script>

<script>

    var pieData = [
                {
                    value: 20,
                    color:"#C82D41",
                    label: "HTML"
                },
                {
                    value : 20,
                    color : "#AA2250",
                    label: "CSS"
                },
                {
                    value : 20,
                    color : "#8C1760",
                    label: "jQuery/Javascript"
                },
                {
                    value : 20,
                    color : "#6E0C6F",
                    label: "Rails"
                },
                {
                    value : 20,
                    color : "#50017F",
                    label: "PSQL"
                }
            ];
            // pie chart options
            var pieOptions = {
                 segmentShowStroke : false,
                 animateScale : true
            }
            // get pie chart canvas
            var skills= document.getElementById("skills").getContext("2d");
            // draw pie chart
            new Chart(skills).Pie(pieData, pieOptions);

</script>

</div>
</body>
</html>