.loading .ip-logo .svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.ip-logo .svg-logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 1000px;
}

.ip-logo #circle {
  width: 100%;
  fill: none;
  stroke: white;
  stroke-width: 15px;
  stroke-dasharray:10500;
  stoke-dashoffset: 10500;
  opacity: 0;
  animation: 8s circle-outline forwards;
  
}


.ip-logo #title {
  fill: none;
  stroke: white;
  stroke-width: 15px;
  stroke-dasharray: 6500;
  stoke-dashoffset: 6500;
  opacity: 0;
  animation: 10s text-outline forwards;
}
 


@keyframes circle-outline {
  from {
    stroke-dashoffset: 10500;
    opacity: 0;
  }
  to{
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes text-outline {
  from{
    stroke-dashoffset: 6500;
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
} 


h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
  }

.section{
    text-align:center;
  }

#home {
  background: linear-gradient(#304352, #384957, #40505D, #485763);
  /*height: 100vh;*/
}
#about {
  background: linear-gradient(#505E69, #58656F, #606C75, #68737B);
  /*height: 100vh;*/

}

#projects{
  background: linear-gradient(#707A80,#788186,#80888C,#888F92);
  /*height: 100vh;*/
}

#contact {
  background: linear-gradient(#909698, #989D9E, #A0A4A4, #A9ABAA);
  /*height: 50vh;*/
}

li#menu{
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

ul#menu{
  margin-bottom: -22px;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

a {
color: white;
text-decoration: none;
font-size:1.5em ;
font-family: 'Poiret One', cursive;
margin-top: 20px;



}

#menu {
  
  margin: 0;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#contact-logo {
  display: inline;
}

/*skills chart*/
#canvas-holder{
display: right;

}

nav.main-nav {
background: rgba(50,52,73,0.2);
position:fixed;
top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;

}



h1.site-title{
    font-family: 'Lobster Two', cursive;
    font-size: 4.3em;
    font-weight: normal;
    font-style: italic;
    text-shadow: darkgray 2px 2px;
    margin-top: -162px;
    margin:auto;
    text-shadow: darkgray 2px 2px;
    margin-bottom: 40px;
}





.about {
float:left;
width:52%;
overflow:hidden;
}

p.about-info{
  margin-left:50px;
}

p.skills-info{
  font-style: italic;
}

h1, h2{
  text-shadow: darkgray 2px 2px;
  font-family: 'Lobster Two', cursive;
}


#canvas-holder{
float:right;
width:48%;
overflow:hidden;
/*margin-right: 10px;*/
/*margin-left: 10px;*/
}

#aboutme{
  margin-top: 10px;
}


div.section{
  padding-top: 40px;
}

img.github{
  margin-right: 30px;
}

img.linkedin{
  margin-left: 30px;
}

img.project{
  height: inherit;
  border: white solid 4px;
  width: 50%;
  overflow: hidden;

}

.project-info{
  float: left;
  width: 45%;
  overflow: hidden;
}





.contact-logo{
  margin-top: 10px;
}

img#self-portrait{
  height: inherit;
  width: 400px;
  border: white solid 4px;
}




#computer {
    fill: none;
  stroke: white;
  stroke-width: 7px;
  stroke-dasharray:7000;
  stoke-dashoffset: 7000;
  opacity: 0;
  animation: 12s computer-outline forwards;
  animation-delay: 6s;
  
}

@keyframes computer-outline {
  from {
    stroke-dashoffset: 7000;
    opacity: 0;
  }
  to{
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

li#project-skill{
  text-decoration: none;
  font-size: 24px;

}

p.attendance{
  font-size:24px;
}
