<!DOCTYPE html>
<html>
<head>
  <title>Diana Frank Development</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery.fullPage.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/node_modules/jquery.fullPage.css" /> -->
</head>
<body>



<%= yield %>



<!-- in footer: link to github linkedin, anything else?  -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.fullPage.js"></script>
</body>
</html>
